<form #formdata="ngForm" (ngSubmit)="getFormData(formdata)">
  <input type="text" name="name" ngModel #name="ngModel" placeholder="name"><br>
  <input type="text" name="age" ngModel #age="ngModel" placeholder="age"><br>
  <input type="submit" value="submit">
</form>
<input type="button" (click)="replacedatata()" *ngIf="editclicked" value="refresh">
<hr>
<table border="1" *ngIf="data">
  <tr>
    <td>name</td>
    <td>age</td>
    <td>Options</td>
  </tr>
  <tr *ngFor="let k of objectKeys(data)">
    <td> {{data[k].name}}</td>
    <td>{{data[k].age}}</td>
    <td><input type="button" value="delete" (click)="deletedta(data[k]._id)">
      <input type="button" value="Edit" (click)="editdat(data[k]._id,data[k].name,data[k].age,formdata)"></td>
  </tr>
</table>
